---
interface Props{
  nick:string;
  role:string;
  color:string;
}
const { nick, role, color } = Astro.props;
---

<a href="#" class=`bg-black/70 rounded-md overflow-hidden group border` style=`border-color:${color}; box-shadow: 0px 0px 4px ${color};`>
  <div class="w-full h-auto overflow-hidden">
    <img
      src={`/images/${nick}.webp`}
      class="select-none group-hover:scale-150 group-hover:translate-y-20 lg:group-hover:translate-y-[55px]  sm:group-hover:scale-150 -z-10 transition-all sm:group-hover:translate-y-10 xs:group-hover:translate-y-16 xs:group-hover:scale-[1.55]"
      alt={`${nick} image`}
    />
  </div>
  <h3 class="font-mc h-full align-middle sm:text-xs lg:text-[14px] flex justify-between px-2 py-1 z-10 text-white">
    {nick} <span class="font-bold" style={`color: ${color}`}>{role}</span>
  </h3>
</a>